html {
    // box model
    box-sizing: border-box;

    // visual
    // overflow-x: hidden;
}

body {
    // box model
    margin: 0;
    
    // typography
    font-size: $baseFontSize;

    // visuals
    background-color: $lightSand;
    background-color: #f9f2de;
    overflow-x: hidden;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
}
strong {
    // typography
    font-weight: bold;
}
