// colors
$white: #ffffff;
$lightSand: #fffaf0;
// $lightSand: #f9f2de;
$darkGrey: #121212;
$justGrey: #252525;
// $darkSand: #c9aa71;
$darkSand: #c7a166;
$justSand: #e9dcca;
$background: #f9f2de;
$darkestSand: #373025;
$darkBlue: #152026;
$accentRed: #d11500;

// fonts
$baseFontSize: 16px;
$mainFont: "IntroLight";
$titleFont: "IntroBold";