@import "base/wordpress";

// fonts
@import "fonts/fonts";
@import "fonts/icons";

// normalize
@import "normalize.css";

// globals
@import "base/vars";
@import "base/mixins";
@import "base/global";

// modules
//      header
@import "modules/site-header";
@import "modules/main-nav";
@import "modules/logo";
@import "modules/main-menu";
@import "modules/cart";
@import "modules/for-owners";
@import "modules/hero";
@import "modules/scene";

//      main
@import "modules/site-main";
@import "modules/shop-item-main";
@import "modules/wrapper";
@import "modules/site-section";
@import "modules/description";
@import "modules/show-all";
@import "modules/video";

//      shop
@import "modules/shop-item";
@import "modules/item";

//      partners
@import "modules/partners";

//      order
@import "modules/order-table";
@import "modules/table-item";

//      footer
@import "modules/site-footer";
@import "modules/social";
@import "modules/footer-nav";

//      elements
@import "modules/button";
@import "modules/feature";
@import "modules/form";
@import "modules/spinner";

//      popups
@import "modules/order-popup";