<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="styles.css")
        title BarberWild 404

    body
        header.page-404
            .page-404__img
            h1.page-404__title 404
            //- a.button.button--404.button--red(href="http://barberwild.com") На главную
        .order-popup.order-popup--shown.order-popup--404page
        .order-popup__content.order-popup__content--shown.order-popup__content--404page
         ul.page-404__list
            h3.page-404__subtitle Страница, на которую вы попали, не существует. Вы можете попробовать следующее:
            li.page-404__item: a(href="index.html") Перейти к главной странице сайта
            li.page-404__item Проверить правиольность введенного адреса
            li.page-404__item Вернуться туда, откуда пришли (<em> нажать кнопку «Назад» в своем браузере</em>)
             