doctype html

html
    head

    body
        header.site-header
            .site-header__logo: a Barber WILD

            .site-header__menu-icon
                .site-header__menu-icon__middle

            nav.main-nav