doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        title Barber WILD

        link(rel="stylesheet" href="styles.css")

    body
        header.site-header.site-header--map
            nav.main-nav
                .logo: a(href="index.html") Barber WILD
                    img(src="./img/logo.png")
                    p.logo__motto всё, что нужно для твоей головы

                .main-nav__menu-icon
                    .main-nav__menu-icon__middle

                ul.main-menu
                    - var list = ["Каталог", "Сотрудничество", "О компании"];
                    - var links = ["shop.html", "partners.html", "about.html"];
                    - for (var i = 0; i < 3; i++)
                        li: a(href=links[i])= list[i]

                .cart: a(href="order.html") Оформить заказ

            .map#map
            .wrapper.wrapper--center
                a.button.button--red.button--block(href="#table") Все филиалы
                    svg.arrow.arrow--left(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 129 129" enable-background="new 0 0 129 129" width="25px" height="25px")
                        g
                        path(d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z" fill="#FFFFFF")
                    svg.arrow.arrow--right(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 129 129" enable-background="new 0 0 129 129" width="25px" height="25px")
                        g
                        path(d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z" fill="#FFFFFF")
        main.site-main: .wrapper
            a.button.button--red.button--map К карте
            fieldset.form__fieldset
                        legend.form__legend Таблица Филиалов
                    
                        div.form__input-group
                            label.form__icon 1
                            input.form__input.form__input--map(type="search", data-table="order-table", placeholder="Найти филиал")
            fieldset.form__fieldset.form__fieldset--bgWhite
                        table.order-table

                            tr
                                th #
                                th.table-item__th Название филиала
                                th.table-item__th Город
                                th.table-item__th Адрес
                                th.table-item__th Телефон
                            mixin table-item(number, branch, city, address)
                                +table-item("1", "OldBoy KLD", "Калининград", "ул. Театральная 30")
                                +table-item("1", "OldBoy KLD", "Калининград", "ул. Театральная 30")
                                +table-item("1", "OldBoy KLD", "Калининград", "ул. Театральная 30")
                                +table-item("1", "OldBoy KLD", "Калининград", "ул. Театральная 30")
                                +table-item("1", "OldBoy KLD", "Калининград", "ул. Театральная 30")
                                +table-item("1", "OldBoy KLD", "Калининград", "ул. Театральная 30")

        footer.site-footer
            .site-footer__social
                a(href="#").icon-vkontakte VKontakte
                a(href="#").icon-facebook Faceboot
                a(href="#").icon-instagram Instagram
                a(href="#").icon-youtube-play YouTube
                a(href="#").icon-mail-alt Email

            nav.footer-nav: ul
                - var list = ["Каталог", "Сотрудничество", "О компании"];
                - var links = ["about.html", "shop.html", "partners.html"];
                - for (var i = 0; i < 3; i++)
                    li: a(href=links[i])= list[i]

        script(src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js")
        script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyhtGU3ubgvnGhZbZv8anVMHp1091h3Ds&callback=initMap")
        script(src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js")
        script(src="map.js")
         //- script(src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js")