doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        title Barber WILD
        
        link(rel="stylesheet" href="styles.css")


    body

    main.site-main: .wrapper
        section.site-section.site-section--partner-form
            form#order-form.form.form--order()
                fieldset.form__fieldset
                    legend.form__legend Заказ 
                
                    div.form__input-group
                        label.form__icon 1
                        input.form__input(type="text", name="fullname", placeholder="Фамилия Имя Отчество",
                                          data-validation="required") 

                    div.form__input-group
                        label.form__icon 2
                        input.form__input(type="text", name="phone", placeholder="Номер телефона",
                                          data-validation="required")
                        
                    div.form__input-group
                        label.form__icon 3
                        input.form__input(type="text", name="email", placeholder="Электронная почта",
                                          data-validation="email required") 

                    div.form__input-group
                        label.form__icon 4
                        input.form__input(type="text", name="address", placeholder="Адрес доставки",
                                          data-validation="required") 

                fieldset.form__fieldset
                    input#order-submit.button(type="submit" value="Подтвердить")


            #form-output

    script(src="test.js")