.barbershop-owner {
    // box model
    display: inline-block;
    vertical-align: top;
    height: 494px;
    width: 330px;
    margin: 0 15px;

    // visual
    background-image: url("./img/barbershop-owner-background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    @include atDesktop {
        // box model
        height: 460px;
    }

    @media (min-width: 1800px) {
        // box model
        position: absolute;
        top: 0;
        left: 100%;
    }

    &__content {
        // box model
        display: block;
        margin: 0 auto;
        padding-bottom: 36px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20%;

        // typography
        text-align: center;

        @include  atDesktop {
            // box model
            padding-top: 15%;
        }
    }

    &__title {
        // box model
        padding-bottom: 45px;
        margin: 0;

        // typography
        color: $darkestSand;
        font-family: $titleFont;
        font-weight: bold;
        font-size: 2.25rem;
        line-height: 0.9;
        text-align: center;
        text-transform: uppercase;

        small {
            // typography
            font-size: 0.7em;
            font-weight: 100;
        }
    }

    &__text {
        // box model
        padding: 0 30px;
        padding-bottom: 65px;
        margin: 0;

        // typography
        color: $darkestSand;
        font-family: $titleFont;
        font-size: 1.28rem;
        font-weight: 100;
        text-align: center;
        text-transform: uppercase;
    }
    
    &__button {
        // positioning
        z-index: 99;

        // box model
        display:inline-block;
        padding: 18px 0;
        width: 80%;
        
        //typography
        color: $darkestSand;
        font-family: $titleFont;
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        
        // visual
        background-color: $background;
        border-radius: 40px;
        border: 1px solid $darkestSand;

        &:hover {
            // typography
            color: $background;
            
            // visual
            background-color: $darkSand;
            transition: 0.3s ease-in-out all;
        }
    }
}