.for-owners {
    // positioning
    position: absolute;
    right: 20px;
    top: 100px;

    // box model
    // display: none;
    width: 140px;

    @include atDesktop {
        // positioning
        right: 30px;
        top: 90px;

        // box model
        width: 180px;
    }

    @include atDesktopLarge {
        // positioning
        right: 50px;
        top: 120px;

        // box model
        width: 310px;
    }

    img {
        // box model
        width: 100%;
    }
}