.custom-iw {
  // positioning
  position: relative;
}

.gm-style-iw {
  // positioning
  top: 1px !important;

  // box model
  height: 200px !important;
  width: 300px !important;
  display: flex;
  justify-content: center;

  // visual
  border: none;
  border-bottom: none;
}

.gm-style-iw + div {
  // positioning
  position: relative;
  z-index: 999999;
}

.custom-iw>div:first-child>div:nth-child(2) {
  // box model
  display: none;
}

.gm-style-iw>div {
  // box model
  max-width: 100% !important;
  max-height: 100% !important;

  overflow: hidden !important;
}

.custom-iw>div:first-child>div:last-child {
  // positioning
  top:0px;
  left:0 !important;
  z-index:-1 !important;

  // visual
  box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 6px;
}

.infowindow, .custom-iw>div:first-child>div:nth-child(n-1)>div>div, .custom-iw>div>div:last-child, .custom-iw .gm-style-iw, .custom-iw .gm-style-iw>div, .custom-iw .gm-style-iw>div>div {
  // visual
  background-color:#fff !important;
}

.infowindow {
  // positioning
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  // box model
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;

  // visual
  border: 3px solid #c7a166;
  position: absolute;

  @include atDesktop {
    // positioning
    top: 50%;
    left: 80%;
  }

  &__img {
    // box model
    height: 125px;
    width: 125px;

    @include atDesktop {
      // box model
      height: 125px;
      width: 125px;
    }
  }

  &__content {
    padding-left: 20px;
  }

  &__title {
    // box model
    margin-top: 0;
    padding-left: 20px;

    // typography
    font-family: $mainFont;

    &:last-child {
      // box model
      margin-bottom: 0;
    }
  }

  &__mainTitle {
    // typography
    font-family: $titleFont;
  }

  &__close {

    // positioning
    position: absolute;
    top: 5px;
    right: 5px;

    // visual
    cursor: pointer;

    &-img {
      &:hover {
        // visual
        fill: red;
      }
    }

    img {
      // box model
      height: 24px !important;
      width: 24px !important;
    }
  }

}

.custom-iw>div:first-child>div:first-child {
  // box model
  display: none;
}
.infowindow__close-img:hover #bg {
  // visual
  fill: $accentRed;
}
.infowindow__close-img:hover #outline {
  // visual
  fill: $accentRed;
}