.instafeed {
    // box model
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    // typography
    font-size: 0;
    text-align: center;

    &__image {
        // box model
        display: inline-block;
        height: 320px;
        width: 320px;
        padding: 10px;
        margin: 10px 5px;

        //visual
        border: 1px solid $justSand;

        img {
            // box model
            height: 100%;
            width: 100%;

            object-fit: cover;
        }
    }
}