.logo {
    // positioning
    position: relative;
    z-index: 4;

    // box model
    display: inline-block;
    vertical-align: top;

    max-height: 75.2px;
    max-width: 380.8px;

    // typography
    font-size: 0;

    @include atDesktop {
        // box model
        height: 75.2px;
        width: 380.8px;
    }

    @include atDesktopLarge {
        // box model
        height: 94px;
        width: 476px;
    }

    &__motto {
        // box model
        margin: 0;
        padding: 0;
        padding-top: 5px;

        // typography
        color: rgba($white, 0.6);
        font-family: $titleFont;
        font-size: 1rem;

        @include atDesktop {
            // typography
            font-size: 1rem;
        }

        @include atDesktopLarge {
            // typography
            font-size: 1.375rem;
        }
    }

    a {
        // typography
        text-decoration: none;
    }
    // 76777489

    img {
        // box model
        width: 100%;
    }
}