.main-menu {
    // positioning
    position: absolute;
    // position: fixed;
    left: 0;
    top: 0;

    // box model
    height: 95vh;
    width: 100%;

    margin: 0;
    padding: 0;
    padding-top: 150px;
// 59149187
    // typography
    text-align: center;

    // visual
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease-out;

    // visual
    background-color: rgba($darkGrey, 0.95);
    // background-color: $darkGrey;
    z-index: 2;

    &--shown {
        // visual
        visibility: visible;
        opacity: 1;
    }

    @include atTabletsLandscape {
        // box model
        height: 46.7vw;
    }

    @include atDesktop {
        // positioning
        position: relative;

        // box model
        display: inline-block;
        vertical-align: top;

        height: auto;
        width: auto;
        
        margin: 0;
        margin-top: -12px;
        padding: 0;
        padding-left: 20px;

        // visual
        background-color: transparent;
        visibility: visible;
        opacity: 1;
    }

    @include atDesktopLarge {
        // box model
        padding-left: 50px;
    }

    // visual
    list-style: none;

    li {
        // box model
        margin: 0;
        padding: 0;

        @include atDesktop {
            // box model
            display: inline-block;
        }
    }

    a {
        // box model
        display: block;
        padding: 15px 20px;

        // typography
        color: $darkSand;
        color: $white;
        font-family: $titleFont;
        font-size: 1.25rem;
        // font-weight: 100;
        text-decoration: none;
        text-transform: uppercase;

        // visual
        transition: all 0.3s ease-out;

        &:hover {
            color: $darkSand;
        }

        @include atDesktop {
            // box model
            padding: 15px;

            // typography
            font-size: 1rem;
        }

        @include atDesktopLarge {
            // box model
            padding: 15px 20px;

            // typography
            font-size: 1.25rem;
        }
    }

    &__social {
        // positioning
        position: absolute;
        bottom: 50px;

        // box model
        width: 100%;

        @include atTabletsLandscape {
            // positioning
            bottom: 20px;
        }

        @include atDesktop {
            // box model
            display: none;
        }
    }
}