.main-nav {
    // positioning
    position: absolute;
    z-index: 2;

    // box model
    width: 100%;
    padding: 20px;
    padding-right: 80px;

    @include atTabletsPortrait {
        // box model
        padding: 30px 40px;
    }

    @include atTabletsLandscape {
        // box model
        padding: 20px 50px;
    }

    @include atDesktop {
        // box model
        padding: 20px 30px;
    }

    @include atDesktopLarge {
        // box model
        padding: 40px 50px;
    }

    &__menu-icon {
        // positioning
        position: absolute;
        right: 20px;
        top: 25px;
        z-index: 3;
        
        // box model
        height: 30px;
        width: 30px;
        // border: 1px solid red;

        // visual
        cursor: pointer;

        &--popup {
                // positioning
            position: absolute;
            z-index: 3;
            
            // box model
            height: 30px;
            width: 30px;
            // border: 1px solid red;

        // visual
            cursor: pointer;
            right: 4px;
            top: 13px;
            color: rgba(55, 48, 37, 0.75);
            display: block;
            &::before {
                content: "";
    
                // positioning
                position: absolute;
                left: 0;
                top: 0;
                transform-origin: 0 50%;
    
                // box model
                height: 3px;
                width: 25px;
    
                // visual
                background-color: #d3d1d1;
                border-bottom: 1px solid #4f5554;
                border-left: 1px solid #adaba8;
                border-right: 1px solid #adaba8;
                transition: all 0.3s ease-out;
            }
            &::after {
                content: "";
    
                // positioning
                position: absolute;
                left: 0;
                top: 17px;
                transform-origin: 0 50%;
    
                // box model
                height: 3px;
                width: 25px;
    
                // visual
                background-color: #d3d1d1;
                border-bottom: 1px solid #4f5554;
                border-left: 1px solid #adaba8;
                border-right: 1px solid #adaba8;
                transition: all 0.3s ease-out;
            }
        }

        @include atDesktop {
            // box model
            display: none;
        }

        &::before {
            content: "";

            // positioning
            position: absolute;
            left: 0;
            top: 0;
            transform-origin: 0 50%;

            // box model
            height: 3px;
            width: 30px;

            // visual
            background-color: #d3d1d1;
            border-bottom: 1px solid #4f5554;
            border-left: 1px solid #adaba8;
            border-right: 1px solid #adaba8;
            transition: all 0.3s ease-out;
        }

        &__middle {
            // positioning
            position: absolute;
            left: 0;
            top: 10px;
            z-index: 1;
            transform-origin: 0 50%;

            // box model
            height: 3px;
            width: 30px;

            // visual
            background-color: #d3d1d1;
            border-bottom: 1px solid #4f5554;
            border-left: 1px solid #adaba8;
            border-right: 1px solid #adaba8;
            transition: all 0.3s ease-out;
        }

        &::after {
            content: "";

            // positioning
            position: absolute;
            left: 0;
            top: 20px;
            transform-origin: 0 50%;

            // box model
            height: 3px;
            width: 30px;

            // visual
            background-color: #d3d1d1;
            border-bottom: 1px solid #4f5554;
            border-left: 1px solid #adaba8;
            border-right: 1px solid #adaba8;
            transition: all 0.3s ease-out;
        }

        &--close-x {
            &::before {
                // positioning
                transform: rotate(45deg) scaleX(0.94);

                // visual
                background-color: rgba(55, 48, 37, 0.75);
                border-bottom: 1px solid rgba(55, 48, 37, 0.75);
                border-left: 1px solid rgba(55, 48, 37, 0.75);
                border-right: 1px solid rgba(55, 48, 37, 0.75);
            }
        &--close-x--popup {
            &::before {
                transform: rotate(45deg) scaleX(0.94);
                
                // visual
                background-color:rgba(55, 48, 37, 0.75) ;
                border-bottom: 1px solid rgba(55, 48, 37, 0.75);
                border-left: 1px solid rgba(55, 48, 37, 0.75);
                border-right: 1px solid rgba(55, 48, 37, 0.75);
            }
        }


            .main-nav__menu-icon__middle {
                // positioning
                left: 7px;
                transform: scaleX(0.1) scaleY(0.8);
                
                // visual
                // opacity: 0;
                background-color: rgba(55, 48, 37, 0.75);
                border-bottom: none;
                border-left: none;
                border-right: none;
            }

            &::after {
                // positioning
                transform: rotate(-45deg) scaleX(0.95);

                // visual
                background-color: rgba(55, 48, 37, 0.75);
                border-bottom: none;
                border-left: 1px solid rgba(55, 48, 37, 0.75);
                border-right: 1px solid rgba(55, 48, 37, 0.75);
                border-right: none;
                border-top: 1px solid rgba(55, 48, 37, 0.75);
            }
        }
    }
}