.order-popup {
    // positioning
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;

    // visual
    background-color: rgba($justSand, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-out;

    &--shown {
        // visual
        opacity: 1;
        visibility: visible;
    }

    &--404page {
        // box model
        background: none;
    }

    &__content {
        // positioning
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        // typography
        text-align: center;

        // box model
        margin: 0 auto;
        max-width: 0;
        padding: 40px;

        // visual
        background-color: rgba($white, 0.8);
        border: 1px solid $darkSand;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-out;

        

        &--shown {
            // box model
            max-width: 800px;
            opacity: 1;
            visibility: visible;
        }

        &--404page {
            //positioning
            position: absolute;
            top: 60%;

            @include atTabletsPortrait {
                //positioning
                top: 50%;
            }

            @include atDesktop {
                //positioning
                top: 75%;
            }
        }
    }

    &__title {
        // typography
        color: $justGrey;
        font-family: $titleFont;
        text-transform: uppercase;
    }

    &__text {
        // typography
        color: $justGrey;
        font-family: $mainFont;
        font-size: 1.5rem;
    }

    &__progress {
        // box model
        height: 64px;
        width: 64px;
        margin: 0 auto;

        img {
            // box model
            height: 100%;
            width: 100%;
        }
    }
}
