.scene {
    // positioning
    position: relative;
    z-index: 1;

    // box model
    height: 100%;
    width: 100%;

    visibility: hidden;

    @include atTabletsLandscape {
        // visual
        visibility: visible;
    }


    &--main {
        // visual
        visibility: visible;
        background-image: url('./img/main-hero-s-bg.jpg');
        background-position: center center;
        background-size: cover;

        @include atTabletsPortrait {
            // visual
            background-image: url('./img/main-hero-m-bg.jpg');
            background-position: center bottom;
        }

        @include atTabletsLandscape {
            // visual
            background-image: url('./img/main-hero-bg.jpg');
            background-position: center top;
        }
    }
}