.show-all {
    // positioning
    position: relative;
    z-index: 5;

    // box model
    height: 300px;
    padding-top: 160px;

    // typography
    text-align: center;

    // visual
    background-image: url('./img/guns2.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    @include atDesktop {
        // box model
        margin-top: -80px;
    }
}
