// vars
$paddingTop: 50px;
$paddingRight: 70px;
$paddingBottom: 50px;
$paddingLeft: 70px;

.shop-item-main {
    // positioning
    position: relative;
    z-index: 1;

    // box model
    margin: 0 15px;
    margin-bottom: 40px;

    // typography
    font-size: 0;

    @include atDesktop {
        // box model
        margin-bottom: 120px;
    }

    @include atDesktopLarge {
        // box model
        margin-bottom: 160px;
    }


    &__wrapper {
        // positioning
        position: relative;

        // box model
        margin: 0 auto;
        padding: 40px 25px;

        // visual
        background-color: rgba($white, 0.8);
        border: 1px solid $justSand;

        @include atTabletsLandscape {
            // box model
            padding-left: 60px;
            width: 860px;
        }

        @include atDesktop {
            // box model
            padding: $paddingTop $paddingLeft;
            padding-right: $paddingRight;
            width: 1000px;
        }
    }

    &__image {
        // border: 1px solid red;
        // box model
        width: 220px;
        margin: 0 auto;
        margin-bottom: 40px;
        margin-top: -40px;

        img {
            // box model
            width: 100%;
        }

        @include atTabletsPortrait {
            // positioning
            position: absolute;
            right: 20px;
            top: 80px;

            // box model
            display: inline-block;
            vertical-align: top;
            width: 220px;
        }

        @include atTabletsLandscape {
            // positioning
            right: 40px;
        }

        @include atDesktop {
            // positioning
            position: absolute;
            right: $paddingRight - 20px;
            top: $paddingTop;

            // box model
            width: 300px;
            margin-left: 45px;
            margin-top: -20px;
        }
    }

    &__description {
        // box model
        // border: 1px solid red;

        @include atTabletsPortrait {
            // box model
            display: inline-block;
            vertical-align: top;
            width: 360px;
            width: calc(100% - 260px);
        }

        @include atDesktop {
            // box model
            width: 560px;
        }
    }

    &__title {
        // box model
        margin: 0;
        padding: 0;

        // typography
        font-family: $titleFont;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.4;
        text-align: center;

        @include atTabletsLandscape {
            text-align: left;
        }

        @include atDesktop {
            // box model
            margin-left: -26px;

            // typography
            font-family: $mainFont;
            font-size: 2.5rem;
            font-size: 3rem;
            font-weight: 300;
            line-height: 1.2;
            text-indent: 22px;
            text-align: left;
        }
    }

    &__text {
        // typography
        font-family: $mainFont;
        font-size: 1rem;
        font-size: 1rem;
        font-size: 1.25rem;
        // letter-spacing: -1px;
        font-weight: 300;
        line-height: 1.5;

        @include atDesktop {
            // typography
            // font-size: 1.125rem;
        }
    }

    &__buttons {
        // box model
        margin-top: 40px;

        // typography
        text-align: center;

        @include atTabletsLandscape {
            text-align: left;
        }

        // @include atDesktop {
        //     // positioning
        //     position: absolute;
        //     right: $paddingRight;
        //     bottom: $paddingBottom + 18px;
        //     // bottom: $paddingBottom + 28px;

        //     // box model
        //     margin-top: 0;

        //     // typography
        //     text-align: left;
        // }
    }

    &__deco {
        // positioning
        position: absolute;
        z-index: -1;

        // box model
        display: none;

        @include atDesktop {
            // box model
            display: block;
        }
    }

    &--clay {
        .shop-item-main__deco {
            // positioning
            top: 120px;
            right: -400px;
        }
    }

    &--oil {
        .shop-item-main__deco {
            // positioning
            top: -100px;
            left: -460px;
        }
    }

    &--pomade {
        .shop-item-main__deco {
            // positioning
            top: 100px;
            right: -380px;
        }
    }

    &--soap {
        .shop-item-main__deco {
            // positioning
            top: 0;
            left: -360px;
        }
    }
}