// vars
$paddingTop: 50px;
$paddingRight: 70px;
$paddingBottom: 50px;
$paddingLeft: 70px;

.shop-item-main {
    // positioning
    position: relative;
    z-index: 1;

    // box model
    margin-bottom: 40px;

    // border: 1px solid red;

    // typography
    font-size: 0;

    @include atDesktop {
        // box model
        margin-bottom: 120px;
    }

    @include atDesktopLarge {
        // box model
        margin-bottom: 200px;
    }


    &__wrapper {
        // positioning
        position: relative;

        // box model
        margin: 0 auto;
        padding: 40px;

        // visual
        background-color: rgba($white, 0.8);
        border: 1px solid $justSand;

        @include atDesktop {
            // box model
            padding: $paddingTop $paddingLeft;
            padding-right: $paddingRight;
            width: 1000px;
        }
    }

    &__description {
        // box model
        display: inline-block;
        vertical-align: top;
        // border: 1px solid red;

        @include atDesktop {
            // box model
            width: 480px;
        }
    }

    &__title {
        // box model
        margin: 0;
        padding: 0;

        // typography
        font-family: $mainFont;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.4;
        text-align: center;

        @include atDesktop {
            // box model
            margin-left: -25px;

            // typography
            font-size: 3rem;
            font-weight: 300;
            line-height: 1.2;
            text-indent: 20px;
            text-align: left;
        }
    }

    &__text {
        // typography
        font-family: $mainFont;
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.5;

        @include atDesktop {
            // typography
            font-size: 1.125rem;
        }
    }

    &__buttons {
        // box model
        margin-top: 40px;

        // typography
        text-align: center;

        @include atDesktop {
            // positioning
            position: absolute;
            right: $paddingRight;
            bottom: $paddingBottom + 18px;

            // box model
            margin-top: 0;

            // typography
            text-align: left;
        }
    }

    &__image {
        // border: 1px solid red;
        // box model
        width: 220px;
        margin: 0 auto;
        margin-bottom: 40px;
        margin-top: -40px;

        img {
            // box model
            width: 100%;
        }

        @include atDesktop {
            // positioning
            position: absolute;
            right: $paddingRight;
            top: $paddingTop;

            // box model
            display: inline-block;
            vertical-align: top;
            width: 330px;
            margin-left: 45px;
            margin-top: -20px;
        }
    }

    &__deco {
        // positioning
        position: absolute;
        z-index: -1;

        // box model
        display: none;

        @include atDesktop {
            // box model
            display: block;
        }
    }

    &--clay {
        .shop-item-main__deco {
            // positioning
            top: 180px;
            right: -400px;
        }
    }

    &--oil {
        .shop-item-main__deco {
            // positioning
            top: -40px;
            left: -460px;
        }
    }

    &--pomade {
        .shop-item-main__deco {
            // positioning
            top: 140px;
            right: -380px;
        }
    }

    &--soap {
        .shop-item-main__deco {
            // positioning
            top: 40px;
            left: -360px;
        }
    }
}