.site-section {
    // box model
    margin-bottom: 40px;

    @include atDesktop {
        // box model
        margin-bottom: 120px;
    }

    &__title {
        // typography
        color: $darkBlue;
        color: $darkestSand;
        color: rgba($darkestSand, 0.84);
        font-family: $titleFont;
        font-size: 2rem;
        text-align: center;
        text-transform: uppercase;

        @include atDesktop {
            // typography
            font-size: 3rem;
        }
    }

    &--partners-text {
        // box model
        display: inline-block;
        vertical-align: top;

        width: 50%;
    }

    &--partners-form {
        // box model
        display: inline-block;
        vertical-align: top;

        width: 50%;
    }

    &--selling-features {
        // typography
        text-align: center;
    }

    p {
        // typography
        font-family: $mainFont;
        font-size: 1.125rem;
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.5;
    }
}