.site-header {
    // positioning
    position: relative;

    // box model
    height: 46.7vw;
    width: 100%;

    // visual
    background-color: $darkGrey;
    box-shadow: 0 2px 21px 0 rgba($darkestSand, 0.9);
}