.site-header {
    // positioning
    position: relative;
    z-index: 1;

    // box model
    height: 46.7vw;
    width: 100%;
    margin-bottom: 40px;

    // visual
    background-color: $darkGrey;
    box-shadow: 0 2px 21px 0 rgba($darkestSand, 0.9);
    overflow: hidden;

    &--inner {
        // box model
        height: 450px;
    }

    @include atDesktop {
        // box model
        margin-bottom: 0;
    }
}