.social {
    a {
        // box model
        display: inline-block;
        padding: 0;

        // typography
        font-size: 0;

        &::before {
            // box model
            height: 40px;
            width: 40px;
            padding-top: 8px;

            // typography
            color: $white;
            font-size: 1.5rem;
        }
    }
}